body {
    padding: 0px 20px 0px 20px;
    margin-top: 0;
}

header {
    display: flex;
    justify-content: space-around;
    background-color: bisque;
    border-radius: 8px;
    margin-bottom: 25px;
}

.header_navigation {
    width: 500px;
}

.navigation-list {
    display: flex;
    justify-content:space-around;
    align-items: center;
}
li {
    list-style-type: none;
}
.navigation-link {
    font-size: 20px;
    color: green;
    text-decoration: none;
    transition: ease-in-out .2s;
}

.active {
    color: red;
}

.navigation-link:hover {
    color: blue;
}

.page-name-red {
    color: red;
}

  .content {
    display: flex;
}

.cards_container {
    width: 100%;
}

.product_title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}

.product_item {
    color: #000;
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    cursor: pointer;
    position: relative;
    border-radius: 8px;
    box-shadow: rgb(0 0 0 / 16%) 0px 1px 4px;
    transition: all .3s cubic-bezier(0.4, 0, 0.2, 1) 0s;
}

.hide {
    display: none;
}

.product_image {
    border-radius: 8px;
    width: auto;
    height: 100px;
    margin-bottom: 20px;
    object-fit: cover;
}

.brand-name,
.price,
.discount,
.category,
.rating {
    font-size: 15px;
    margin: 0 0 5px;
    font-weight: normal;
}

.description {
    font-size: 14px;
    margin-top: 0;
    overflow: auto;
}

.card-price-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.card-in-stock {
    font-size: 14px;
}

.add-to-cart {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: url('./assets/cart-icon-white.png'), #ffdd22;
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    transition: 0.5s;
}

.add-to-cart:hover {
    background:  url('./assets/cart-icon-white.png'), #e7c400;
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;
}

.added-to-cart {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: url('./assets/cart-icon-white.png'), #7C9F6E;
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

.cards {
    padding: 20px 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 12px;
    position: relative;
}

.search-form {
    position: relative;
    width: 500px;
    height: 50px;
    border-radius: 25px;
    overflow: hidden;
    border: 2px solid #ffdd22;
}


.search_input {
    width: 100%;
    height: 100%;
    padding: 10px 20px;
    border-radius: 25px;
    outline: none;
    border: 1px solid #ffdd22;
}

.search_button {
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 50px;
    background: url('./assets/icon-search.svg'), #ffdd22;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 30%;
    border: none;
    cursor: pointer;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: start;
}
label {
    margin-top: 11px;
    margin-right: 22px;
    
}

.name-input, .date-input, .brand-select {
    margin-left: 10px;
}

.form-wrapper {
    display: flex;
}

.warning-message {
    color: red;
}

.label-item {
margin-bottom: 8px;
height: 100%;
padding: 10px 20px;
border-radius: 25px;
outline: none;
border: 1px solid #ffdd22;

}

.confirm-button {
    height: 100%;
    padding: 10px 20px;
    border-radius: 25px;
    outline: none;
    border: 1px solid #ffdd22;
    background-color: #ffdd22;

}


.card-description {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.likes-container {
    display: flex;
    justify-content: center;
    align-items: center;
}